@use '../ui/styles/settings.module.scss' as *;

.enhancer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {
    align-self: center;
    inline-size: 40rem;

    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1rem;

    .selectors {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        select {
            flex-basis: 12rem;
            block-size: 40px;

            border-radius: 6px;

            background-color: $background;

            cursor: pointer;
            text-transform: capitalize;
            text-align: center;

            option {
                text-transform: capitalize;
            }
        }

        select:focus {
            border: 0.9px solid #0a0a0a;
        }

        .params {
            flex-grow: 1;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }

    ul {

        display: inline;

        list-style: none;

        li {
            display: inline;

        }

        li::after {
            content: ', ';
        }

        li:last-child::after {
            content: '';
        }
    }

    button {
        @include button();

        align-self: flex-end;

        font-size: 1.1rem;

    }
}

.field {
    inline-size: 100%;
    block-size: 15rem;

    margin: auto;
    border: 2px dashed rgb(49, 49, 49);
    border-radius: 6px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(218, 204, 184);

    label {
        position: relative;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="file"] {

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        display: block;

        cursor: pointer;
    }
}

@media (max-width: 40rem) {
    .form {
        inline-size: 100vw;
    }
}

@media (max-width: 30rem) {
    .form {
        inline-size: 100vw;

        .selectors {
            flex-flow: column nowrap;
            justify-content: center;

            select {
                flex-basis: 40px;
                inline-size: 100%;
            }
        }
    }
}