@use '../../styles/settings.module.scss' as *;


.display {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    span {
        
        text-transform: capitalize;
    }
    
    .number {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;
    
        .btn {
            display: inline;
            cursor: pointer;
        }

        span {
            text-transform: none;
        }

        input[type= 'number'] {
            max-inline-size: 4rem;
            block-size: 23px;

            font-size: 1rem;
            text-align: center;

            border-radius: 16px;
            cursor: pointer;
            text-transform: capitalize;
            text-align: center;
            border: 0.9px solid rgb(118, 118, 118);
            background-color: $background;

        }

        .valid {
            color: default
        }
        .invalid {
            color: red
        }
    }
}