@use '../../styles/settings.module.scss' as *;


.display{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .range {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;
    
        input[type=range]{
        }
    
        .btn {
            width: 34px;
            height: 34px;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 1px solid #9c9c9c;
            border-radius: 12px;

            cursor: pointer;
        }
    }
}