@use '../../styles/settings.module' as *;

.process {
    inline-size: 100vw;
    block-size: 100vh;

    display: flex;

    padding: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.932);

    main {

        max-inline-size: 45rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 1rem;

        border-radius: 12px;
        margin: auto;
        padding: 1rem;

        background-color: $background;

        box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 3px 8px;

    }




    .content {
        @include flex-v-center;
        gap: 1rem;

        .response {
            @include flex-v-center;
            gap: 1rem;

            .figures {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;

                div {
                    flex-basis: 15rem;

                    @include flex-v-center;
                    gap: 1rem;
                }

                span {
                    font-weight: bold;
                }

                img {
                    object-fit: contain;
                    object-position: center;
                }
            }

            a {
                @include button($download-color);

                display: flex;
                justify-content: center;
                align-items: center;

                border: none;
                border-radius: 24px;

                text-align: center;
                font-size: 1rem;

                img {
                    margin-bottom: 3px
                }
            }
        }

        hr {
            width: 100%;
        }

        .login {
            @include flex-v-center;

            gap: 1rem;

            a {
                @include button()
            }
        }
    }
}

.btnsProcess {
    background-color: red;
    inline-size: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}